name: "Build all Actions"

concurrency: build-actions

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build all actions
    runs-on: ubuntu-24.04
    if: ${{ github.repository == 'bjw-s/helm-charts-actions' }}
    steps:
      - name: Generate Token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.LAB_ASSISTANT_APP_ID }}
          private-key: ${{ secrets.LAB_ASSISTANT_APP_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: npm

      - name: Build actions
        run: |
          npm ci
          npm run bundle

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Autobuild from ref: ${{ github.sha }} [ci skip]"
          file_pattern: "package-lock.json package.json node_modules/* lib/*"
          commit_user_name: "${{ vars.LAB_ASSISTANT_USERNAME }}"
          commit_user_email: "${{ vars.LAB_ASSISTANT_EMAIL }}"
          commit_author: "${{ vars.LAB_ASSISTANT_USERNAME }} <${{ vars.LAB_ASSISTANT_EMAIL }}>"
